<div id="admin-panel-container">

	<div class="admin-header">Admin Panel</div>

	<div class="admin-subheader">Mentor Applicants</h2>

	<% @users.each do |user| %>
		<div class="panel-user">
			<%= link_to admin_user_path(user) do %>
				<%= image_tag user.profile_pic_url, :class => "panel-pic" %>
				<div class="panel-info">
					<div class="panel-field">Id: <%= user.id %></div>
					<div class="panel-field">Name: <%= user.name %></div>
				</div>
			<% end %>
		</div>
	<% end %>

</div>