$fb: #3F6ACA;
$fb-hover: #2F4F98;

$red: #FF5353;
$red-hover: #DE4747;

$green: #43C993;

$yellow: #FFE68F;
$yellow-hover: #FFDA58;
$yellowdark: #564d2c;
$yellowlight: rgba(255,230,143,0.3);

$bordergrey: #bebebe;
$greylight: #f7f7f7;
$greymid: #939393;
$greydark: #414141;

$t-big: normal normal 400 40px/normal "sanchez", sans-serif;
$t-title: normal normal 600 30px/normal "arial", sans-serif;
$t-bigsub: normal normal 400 20px/normal "arial", sans-serif;
$t-normal: normal normal 400 16px/normal "arial", sans-serif;
$t-admin: normal normal 400 14px/normal "arial", sans-serif;

$big: normal normal 400 20px/normal "sanchez", sans-serif;
$bigsub: normal normal 400 17px/normal "arial", sans-serif;
$normal: normal normal 400 15px/normal "arial", sans-serif;
$admin: normal normal 400 12px/normal "arial", sans-serif;

$g: 20px;
$c: 60px;

$m-g: 10px;

@mixin muscle {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
