$white: #FCFCFC;
$red: #e8425e;
$black: #1B1B1B;
$grey: #9C9C9C;
$light-grey: #EEEEEE;
$turq: #1dcfac;

$fb: #3F6ACA;
$fb-h: #2F4F98;

$yellow: #FFE68F;
$yellow-h: #FFDA58;
$yellow-d: #564d2c;

$greylight: #f7f7f7;
$greymid: #939393;
$greydark: #414141;

$t-big: normal normal 400 44px/normal "sanchez", sans-serif;
$t-title: normal normal 600 30px/normal "futura-pt", sans-serif;
$t-bigsub: normal normal 300 20px/normal "futura-pt", sans-serif;
$t-normal: normal normal 300 16px/normal "futura-pt", sans-serif;
$t-admin: normal normal 300 14px/normal "futura-pt", sans-serif;

$g: 20px;
$c: 60px;

$btnborder: 1px solid;
$br: 5px;
