@import 'variables';

#main-header {
	position: fixed;
	height: 40px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
#main-header.outlined {
	background: white;
	box-shadow: 0px -16px 64px 1px;
	z-index: 3;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
	height: 30px;
}

#main-header-actions-right {
	position: absolute;
	top: 0;
	right: 0;
}

#sign-up {
	width: 67px;
	cursor: pointer;
}

@media (min-width: 1024px) {
	body {
		#main-header {
			height: 60px;
		}
		#main-header-actions-right {
			margin-right: calc(50% - 480px);
		}
		.logo.m-half {
			height: 40px;
			width: 115px;
			margin-left: calc(50% - 480px);
			margin-top: 10px;
		}
		#sign-up {
			width: 106px;
		}
		.main-header-action {
			cursor: pointer;
			height: 40px;
			line-height: 40px;
			padding: 0px 10px;
			border-radius: 5px;
		}
		.main-header-action.m-full {
			margin-top: 10px;
		}
		.main-header-action:hover {
			background: $blue;
			color: white;
		}
		.current-user-pic {
			height: 40px;
			width: 40px;
			border-radius: 40px;
		}
		.current-user-name {
			height: 80px;
			line-height: 80px;
		}
	}
}

