@import 'variables';

#main-header {
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
	width: 100%;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
	height: 30px;
}

#main-header-actions-right {
	position: absolute;
	top: 0;
	right: 0;
}

#sign-up {
	width: 67px;
	cursor: pointer;
	color: $greydark;
}

@media (min-width: 1024px) {
	body {
		#main-header {
			height: 60px;
		}
		.logo {
			height: 40px;
			width: 115px;
		}
		#sign-up {
			width: 106px;
		}
		.main-header-action {
			color: white;
			cursor: pointer;
			height: 40px;
			line-height: 40px;
			padding: 0px 10px;
		}
		.main-header-action:hover {
			background: $yellow;
			color: $greydark;
		}
		.current-user-pic {
			height: 40px;
			width: 40px;
			border-radius: 40px;
		}
		.current-user-name {
			color: white;
			height: 80px;
			line-height: 80px;
		}
	}
}

