@import 'variables';

/** Buttons and Form Elements **/
.yellow-btn {
	background: $yellow;
	color: $yellow-d;
}

.yellow-btn:hover{
	background: $yellow-h;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {
	border: none;
	padding: none;
	margin: none;
	outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;

}

div, input, textarea {
	-webkit-transition: background .3s;
	font-size: 16px;
	box-sizing: border-box;
}

/** Backgrounds **/

.white-back {
	background: white;
}

.light-grey-back {
	background: $light-grey;
}

.yellow-back {
	background: $yellow;
}


.hidden {
	display: none;
}


/** Text Formatting **/

a {
	text-decoration: none;
	color: $black;
}


.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.huge-text {
	font-size: 30px;
}

.large-text {
	font-size: 24px;
}


.med-text{
	font-size: 16px;
}

.small-text {
	font-size: 14px;
}

.text-left {
	text-align: left;
}

.text-middle {
	text-align: center;
}

.text-right {
	text-align: right;
}

.mobile {
	display: none;
}


/****** Colors ******/

.yellow {
	color: $yellow;
}

.grey {
	color: $grey;
}

.blue {
	color: blue;
}



/***********  Media Queries *******************/



/************** elements with the class mobile shown, no-mobile are hidden  *****************/

@media (max-width: 1023px) {
	.no-mobile {
		display: none;
	}
	.mobile {
		display: inline-block;
	}
}
