@import 'variables';

// non repeating elements have their padding and margins set by classes in html
// repeating non list elements have their padding and margins set in scss
// padding and margin changes from mobile to desktop are done in scss media queries

// body div{
//   border: 1px solid black;
// }

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
   color: $greymid;
   font-family: “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”
}

:-moz-placeholder { /* Firefox 18- */
   color: $greymid;
     font-family: “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $greymid;
     font-family: “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”
}

:-ms-input-placeholder {
   color: $greymid;
     font-family: “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”
}

#dp_swf_engine {
	display: none;
}

/** Buttons and Form Elements **/

input, textarea {
	border: none;
	padding: 0px 5px;
	box-sizing: border-box;
	height: 31px;
	line-height: 31px;
	font-size: 16px;
}

input[type=text]:focus, textarea:focus {
	outline: none;
}

.glower {
	-webkit-animation: glow linear 1s infinite;
	    animation: glow linear 1s infinite; }
	@-webkit-keyframes glow {
	    0% { box-shadow: 0 0 5px $red; }
	    50% { box-shadow: 0 0 5px orange; }
	    100% { box-shadow: 0 0 5px $red; }

	}
	@keyframes glow {
	    0% { box-shadow: 0 0 5px $red; }
	    50% { box-shadow: 0 0 5px orange; }
	    100% { box-shadow: 0 0 5px $red; }
}

img {
	box-sizing: border-box;
}

.btn {
	height: 31px;
	box-sizing: border-box;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
	border-radius: 5px;
}

.field{
  height: 31px;
  box-sizing: border-box;
  text-align: left;
  line-height: 31px;
  padding-left: 10px;
  border-radius: 5px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  color: $greymid;
}

.m-answer-field{
  height: 40px;
  box-sizing: border-box;
  text-align: left;
  line-height: 31px;
  padding-left: 10px;
  border-radius: 5px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  color: $greymid;
}

.yellow-btn {
	background: $yellow;
	color: $greydark
}

.yellow-btn:hover {
	background: $yellow-hover;
}

.red-btn {
	background: $red;
	color: white;
}

.red-btn:hover {
	background: $red-hover;
}

.green-btn {
	background: $green;
	color: white;
}

.blue-btn {
	background: $blue;
	color: white;
}


@media (min-width: 1024px) {
	body {
		.btn {
			height: 40px;
			line-height: 40px;
		}
    .field {
      height: 40px;
      line-height: 40px;
    }
	}
}
/** Text Formatting **/

a {
	color: $greydark;
}

body div {
	font-family: “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
	font-weight: 300;
	color: $greydark;
	line-height: 1.4;
  font-size: 15px;
}
body div {
	.bold {
		font-weight: 700;
	}
}

.bold div {
  font-weight: 700;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.red div {
  color: $red;
}

.white {
  color: white;
}

.blue {
  color: $blue;
}

.blue div {
  color: $blue;
}

.white div {
  color: white;
}

.grey {
	color: $greymid;
}

.greylight {
	color: $greylight;
}

.grey div{
  color: $greymid;
}

.greylight div{
  color: $greylight;
}

.greydark {
	color: $greydark;
}



@media (min-width: 1024px) {
	body {
		div {
			line-height: 1.4;
      font-size: 16px;
		}
		.big {
			font: normal normal 300 40px/normal "Sanchez", sans-serif;
			line-height: 1.4;
		}

		.title {
			font: normal normal 600 30px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
			line-height: 1.4;
		}

		.bigsub {
			font: normal normal 300 20px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
			line-height: 1.4;
		}

		.normal {
			font: normal normal 300 16px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
			line-height: 1.4;
		}

		.small {
			font: normal normal 300 14px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
		}
	}
}

.big {
	font: normal normal 300 20px/normal "Sanchez", sans-serif;
	line-height: 1.4;
}

.title {
	font: normal normal 300 17px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
	line-height: 1.4;
}

.bigsub {
	font: normal normal 300 17px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
	line-height: 1.4;
}

.normal {
	font: normal normal 300 15px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
}

.small {
	font: normal normal 300 12px/normal “open sans, 'Hiragino Sans GB', 'Microsoft YaHei', 微软黑, STHeiti, 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif”;
}

a {
	text-decoration: none;
}

/****** Backgrounds *******/

.lightgrey-bg {
	background: $greylight
}

.blue-bg {
	background: $blue;
}

.green-bg {
	background: $green;
}

.beige-bg {
	background: $beige;
}

.lightblue-bg {
	background: $light-blue;
}

/******  Desktop/Mobile ********/

.no-mobile {
	display: none;
}

.hidden {
	display: none;
}



@media( min-width: 1024px) {
	body {
		.no-mobile {
			display: inline-block;
			vertical-align: top;
		}
		.no-desk {
			display: none;
		}
	}
}
