<div id="main-header">
	<%= image_tag "yacademy.png", :class => "logo" %>
	<div id="main-header-actions-left" class="large-text bold">
		<div class="main-header-action" id="mentors-link">
			Mentors
		</div>
		<div class="main-header-action">
			Pricing
		</div>
	</div>


	<div id="main-header-actions-right" class="large-text bold">
		<%= link_to '/auth/facebook' do %>
			<div class="main-header-action sign-up yellow">
				Log in with Facebook
			</div>
		<% end %>
	</div>
</div>