<div id="main-header">
	<%= image_tag "yacademy.png", :class => "logo" %>
	<div id="main-header-actions-left">
		<div class="main-header-action" id="mentors-link">
			Mentors
		</div>
		<div class="main-header-action">
			Pricing
		</div>
	</div>


	<div id="main-header-actions-right">
		<% if current_user %>
			<div class="main-header-action sign-up yellow">
				Signed in as <%= current_user.name %>
			</div>
		<% else %>
			<%= link_to '/auth/facebook' do %>
				<div class="main-header-action sign-up yellow">
					Log in with Facebook
				</div>
			<% end %>
		<% end %>
	</div>
</div>
