<div id="main-header">
	<%= image_tag "yacademy.png", :class => "logo" %>
	<div id="main-header-actions" class="large-text bold">
		<div class="main-header-action sign-up">
			Sign Up
		</div>
	</div>
</div>