<div class="no-mobile" id="welcome">
	<div class="modal-content">
		<div class="bold red p-bottom title" id="signup-message">欢迎加入火花！</div>
		<div class="red bigsub m-bottom-very-big">琐事敬告</div>

	<div id="welcome-info" class="m-full">
		<div id="how-it-works" class="p-right-big inline">
			<div class="info-header bold black title m-bottom-very-big">运行模式</div>

			<div class="black bigsub">每天，我们将邀请三位全新导师。每位导师的性格与经历各不相同。你尽可以自由挑选。</div>

			<div class="black bigsub">自己提问或者为最有趣/有帮助的问题点赞。</div>

			<div class="black bigsub">每天晚上你可以查看导师们的回应。</div>
		</div>

		<div id="guidelines" class="inline">
			<div class="info-header bold black title m-bottom-very-big">行为规范</div>

			<div class="black bigsub">保持文明和友善，请始终提醒自己每个人都有权利用自己独特的方式自我实现。</div>

			<div class="black bigsub">请尽量鼓励那些激发前所未有思路，帮助引起深入交流的问题。向导师问一些独特的，他们不会在其他场合遇到的有趣问题。</div>
		</div>
	</div>

	<%= link_to user_path(current_user) do %>
		<div id="got-it" class="btn red-btn bigsub">
			知道了
		</div>
	<% end %>

	</div>
</div>

