<div class="no-mobile" id="welcome">
	<div class="modal-content">
		<div class="bold red p-bottom title" id="signup-message">Welcome to Spark!</div>
		<div class="red bigsub m-bottom-very-big">Just a couple things to know</div>

	<div id="welcome-info" class="m-full">
		<div id="how-it-works" class="p-right-big inline">
			<div class="info-header bold black title m-bottom-very-big">How it Works</div>

			<div class="black bigsub">We find 3 New Mentors every day. Each with different backgrounds and personalities. Take your pick.</div>

			<div class="black bigsub">Ask a question or upvote the most intersting ones.</div>

			<div class="black bigsub">Check back for answers every day at midnight.</div>
		</div>

		<div id="guidelines" class="inline">
			<div class="info-header bold black title m-bottom-very-big">Posting Guidelines </div>

			<div class="black bigsub">Be civil, be nice, remember that everyone has different paths to success.</div>

			<div class="black bigsub">Please try to encourage thought-provoking , discussion-inspirint questions that the mentor would not likely be asked anywhere else.</div>
		</div>
	</div>

	<%= link_to user_path(current_user) do %>
		<div id="got-it" class="btn red-btn bigsub">
			Got it
		</div>
	<% end %>

	</div>
</div>

