@import 'shared/variables';

.close {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 30px;
	width: 30px;
}

/***************** AMA Cover *******************/

#ama-mentor {
	position: absolute;
	width: calc(100% - 20px);
	left: 10px;
	top: 60px;
	text-align: center;
}

#ama-mentor-pic {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

#ama-cover {
	height: 80vh;
	width: 100vw;
	background: image_url('amabg.jpg');
	background-size: cover;
	position: relative;
}

#ama-stats {
	position: absolute;
	bottom: 10px;
	width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
	body {
		#ama-cover {
			height: 80vh;
		}
		#ama-countdown {
			position: absolute;
			text-align: center;
			bottom: 20px;
			left: calc(50% - 480px);
		}
		#ama-stats {
			text-align: right;
			bottom: 20px;
			font-size: 16px;
			width: auto;
			right: calc(50% - 480px);
			.info-icon {
				height: 20px;
				margin-right: 10px;
			}
		}
		#ama-mentor {
			top: 100px;
			width: 720px;
			left: calc(50% - 360px);
		}
		#ama-mentor-pic {
			height: 115px;
			width: 115px;
		}
		.ama-mentor-intro.big {
			font-size: 26px;
		}
	}



}

/*******************  AMA Questions **************************/

#question-form-container {
	height: 44px;
	background: $greylight;
}

#question-form {
		height: 31px;
	input {
		font-size: 16px;
	}
	#comment_body {
		height: 31px;
	  margin: 6.5px 10px;
	  vertical-align: top;
	  display: inline-block;
	  width: calc(100% - 90px)
	}
	#submit-comment {
		height: 31px;
		margin: 6.5px 0;
		vertical-align: top;
		display: inline-block;
		width: 60px;
	}
}

@media (min-width: 1024px) {
	body {
		#question-form-container {
			height: 60px;
		}
		#question-form {
			margin-top: 10px;
			height: 30px;
			display: flex;
		}
		#question-form-content {
			width: 600px;
			margin-left: calc(50% - 480px);
			display: inline-block;
			height: 100%;
		}
		#questions-sort-bar {
			display: inline-block;
			margin-left: 20px;
			text-align: right;
			vertical-align: bottom;
			margin-bottom: 20px;
		}
		.sort-option {
			cursor: pointer;
			border-radius: 5px;
		}
		.sort-option.active {
			background: $red;
			color: white;
		}
		#question-form #comment_body {
			height: 40px;
			margin: 0px 10px;
			width: calc(100% - 150px);
		}
		#question-form #submit-comment {
			height: 40px;
			line-height: 40px;
			width: 80px;
			margin: 0;
			cursor: pointer;
		}
	}
}

body {
	.question, .header-text-info {
		padding-right: 40px;
		position: relative;
		box-sizing: border-box;
	}
	.question {
		display: flex;
		padding: 0;
	}
}

.question-body {
	width: calc(100% - 40px);
}

.upvote-container {
	width: 40px;
	position: static;
}

.comment-header {
	display: flex;
}

.header-text-info {
	width: calc(100% - 40px);
}

.upvote-arrow {
	position: absolute;
	right: -2px;
	top: 15px;
	height: 40px;
	width: 20px;
}

.upvote-link.active {
	path:first-child {
		fill: $red;
	}
	path {
		fill: white;
	}
}

.upvote-link.inactive {
	path:first-child {
		fill: $greylight;
	}
	path {
		fill: $bordergrey;
	}
}

.upvote-value {
	position: absolute;
	right: 0;
	top: 35px;
	height: 15px;
	width: 15px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

.comment-pic {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}

.reply-box {
  width: calc(100% - 55px);
  border: 1px solid $bordergrey;
  height: 40px;
  border-radius: 5px;
}

#submit-reply {
	width: 60px;
}

.reply-body, .comment, .user-comment-form {
	padding-left: 55px;
}

@media (min-width: 1024px) {
	body {
		.reply-body {
			padding-left: 60px;
		}
		.header-text-info > * {
			display: inline-block;
		}
		.header-text-info {
			height: 80px;
		}
		.header-school {
			width: 100%;
		}
		#questions {
			height: calc(100vh - 90px);
			overflow-y: hidden;
		}
		.reply-form {
			display: flex;
		}
		.reply-box {
			width: calc(100% - 65px);
			margin-bottom: 20px;
			padding: 5px 10px;
		}
		.follow-box {
			border-radius: 5px;
			height: 40px;
			width: 40px;
			margin-right: 10px;
			cursor: pointer;
		}
		.upvote-arrow {
			height: auto;
			width: 30px;
			right: 0;
		}
		.upvote-value {
			width: 30px;
			top: 45px;
			font-size: 16px;
		}
		#right-sidebar-container {
			background: white;
		}
		.featured-desc {
			width: calc(100% - 60px);
		}
		#feedback {
			width: 100%;
			background: $greylight;
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
		}
		.sidebar-footer {
			position: fixed;
			bottom: 20px;
			right: calc(50% - 480px);
			text-align: center;
			width: 320px;
			z-index: -1;
		}
		.site-info {
			cursor: pointer;
			margin: 0px 5px;
		}
	}
}




/************** Mentor View *****************/


.mentor-prompt.first {
	display: block;
	position: absolute;
	background: white;
	color: $red;
	border-radius: 5px;
	width: 280px;
	left: calc(50% - 150px);
	text-align: center;
	bottom: 20px;
}

#mentor-prompts {
	display: none;
}

@media (min-width: 1024px) {
	#ama-questions {
		position: relative;
		height: 100vh;
	}
	.ama-mentor-intro .form_in_place {
		width: 100%;
		input {
			height: 40px;
			background: rgba(255,255,255,.2);
			width: 100%;
	    padding: 20px;
	    color: white;
	    font: normal normal 700 26px/normal "Open Sans", sans-serif;
	    text-align: center;
		}
	}
	.ama-mentor-desc .form_in_place {
		width: 100%;
		textarea {
			height: 80px;
			background: rgba(255,255,255,.2);
			width: 100%;
	    padding: 20px;
	    color: white;
	    font: normal normal 400 20px/normal "Open Sans", sans-serif;
	    text-align: center;
		}
	}
	#mentor-prompts {
		position: absolute;
		top: 80px;
		display: block;
		left: 40px;
	}
	.mentor-prompt {
		padding: 10px;
		box-sizing: border-box;
		background: $greylight;
		border-radius: 10px;
		width: 280px;
		font-weight: 700;
	}
	.mentor-prompt.first {
		width: 400px;
		background: white;
		color: $red;
		position: absolute;
		left: calc(50% - 200px);
		text-align: center;
		top: 40px;
		bottom: auto;
	}
	#photo-prompt {
		margin-top: 100px;
	}
	#submit-ama {
		width: 240px;
	}
	#bg-prompt {
		right: calc(50% - 480px);
		bottom: 10px;
		position: absolute;
	}
	#user_avatar {
		z-index: 3;
		opacity: 0;
	}
	body #preview {
		top: 10px;
	}
	#user_avatar, #preview, .upload-photo {
		height: 115px;
		width: 115px;
		position: absolute;
		border: 5px solid white;
		border-radius: 118px;
		left: 302px;
		top: 10px;
	}

	body .upload-photo {
		background: $red;
		color: white;
		cursor: pointer;
		left: 440px;
		top: 10px;
		border: none;
	}
}

/********  Admin Tools ************/

.admin-actions {
	display: none;
}

@media (min-width: 1024px) {
	body {
		.question-thread, .reply, .comment {
			position: relative;
		}
		.admin-actions {
			display: block;
			position: absolute;
			left: -100px;
			top: 40px;
			z-index: 10;
		}
	}
}
