@import 'variables';

/** Home Page Header **/

#main-header {
	position: fixed;
	z-index: 2;
	height: 60px;
	width: 100%;
	background: $yellow;
}

.logo {
	position: absolute;
	left: 40px;
	top: 10px;
	height: 40px;
	width: auto;
}

#main-header-actions {
	margin-right: 40px;
	margin-top: 10px;
	height: 40px;
	float: right;
}

.main-header-action {
	float: left;
	height: 40px;
	width: 80px;
	line-height: 40px;
	margin-left: 20px;
	cursor: pointer;
	padding: 0px;
	border: 2px solid black;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
}

.main-header-action:hover {
	background-color: $black;
	color: $yellow;
}

.main-header-action.selected {
	background: black;
	padding: 5px;
	color: $yellow;
}


@media (max-width: 1023px) {
	body {
		.logo {
			height: 40px;
			width: 150px;
			left: calc(50% - 75px);
			top: 20px;

		}
		#main-header-actions {
			display: none;
		}
	}

}
