@import 'variables';

/*** Main Layout ***/

#video {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	background-size: cover;
	}

.landing-section {
	background: black;
	position: relative;
}

#section-1 {
	background: rgba(0,0,0,.05);
}

#section-2 {
	background: rgba(232,66,94,0.5);
}

#section-3 {
	background: rgba(255,143,53,0.5);
}

#section-4 {
	background: rgba(255,225,121,0.5);
}

.section-main-text {
	font-size: 30px;
	color: white;
	width: 100%;
	text-align: center;
}

.section-content {
	max-width: 960px;
	margin: 0 auto;
	height: calc(100% - 80px);
	padding-top: 80px;
	position: relative;
	color: white;
	text-align: center;
}


/** Side Dots for scrolling **/

.side-dots {
	position: absolute;
	left: 20px;
	top: 45vh;
	width: 16px;
	z-index: 500;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: lightgray;
	margin-top: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;

}

.circle:hover {
	width: 16px;
	height: 16px;
}
.circle.active {
	background: white;
	width: 16px;
	height: 16px;
}



/*** Section 1 ***/

#section-1 {
	.section-main-text {
		margin-top: 35vh;
		height: 60px;
	}
	.get-started {
		position: absolute;
		border: 3px solid $red;
		background: $red;
		font-size: 24px;
		line-height: 54px;
		height: 60px;
		width: 240px;
		left: calc(50% - 120px);
		bottom: 35vh;
	}
	.get-started:hover {
		background: none;
	}

}

/*** Section 2 ***/


#section-2 {
	.section-main-text {
		margin-top: 10vh;
		font-size: 36px;
	}
	.step {
		position: absolute;
		width: 33%;
		height: calc(100% - 280px);
		top: 30vh;
		color: white;
		text-align: center;
	}
	#step-2 {
		left: 34%;
		margin-top: 60px;
	}
	#step-3 {
		margin-top: 100px;
		left: 68%;
	}
	.step-number {
		font-size: 48px;
		width: 100%;
		font-weight: 700;
	}
	.step-title {
		font-size: 24px;
		width: 100%;
		margin: 40px 0px;
		font-weight: 400;
	}
	.step-desc {
		font-size: 17px;
		width: 100%;
		font-weight: 300;
		line-height: 1.2;
	}



}

/*** Section 3 ***/


#section-3 {
	.section-main-text {
		margin-top: 10vh;
		font-size: 36px;
		line-height: 1.2;
	}
	#places {
		width: 100%;
	}
	.place {
		display: inline;
		height: 160px;
		width: auto;
		margin-right: 40px;
		margin-top: 40px;
	}

}

/*** Section 4 ***/


#section-4 {
	.section-main-text {
		margin-top: 20vh;
		height: 60px;
	}
	.section-sub-text {
		font-size: 24px;
		font-weight: 300;
		width: 100%;
		margin-bottom: 20px;
	}
	.section-desc-text {
		font-weight: 400;
		font-size: 20px;
		width: 100%;
		line-height: 1.2;
	}
	.get-started {
		position: absolute;
		border: 3px solid $red;
		background: $red;
		font-size: 24px;
		line-height: 54px;
		height: 60px;
		width: 200px;
		left: calc(50% - 100px);
		top: 60vh;
	}
	.get-started:hover {
		background: none;
	}
}


/********** Sign Up Modal ***********/

#sign-up-modal {
	position: fixed;
	z-index: 3;
	max-width: calc(100% - 40px);
	max-height: calc(100vh - 40px);
	width: 400px;
	height: 280px;
	background: white;
	left: calc(50% - 200px);
	top: calc(50vh - 125px);
	border-radius: 5px;
}

#close-sign-up-modal {
	position: fixed;
	z-index: 4;
	height: 40px;
	width: 40px;
	left: calc(50% + 180px);
	top: calc(50vh - 145px);
	background: white;
	border-radius: 20px;
	cursor: pointer;
}

#sign-up-text {
	text-align: left;
	width: calc(100% - 40px);
	margin: 0 auto;
	margin-top: 40px;
	line-height: 1.2;
}

#user-form {
	width: calc(100% - 40px);
	margin: 0 auto;
}

#user-email {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding-left: 15px;
	box-sizing: border-box;
	background: $light-grey;
	border-radius: 5px;
	margin-top: 40px;
}

#submit-email {
	height: 40px;
	width: 100%;
	font-size: 16px;
	margin-top: 20px;
}




/******* Media Queries ******/


@media (max-width: 1023px) {

body {
	#sign-up-modal {
		width: 300px;
		height: 300px;
		left: calc(50% - 150px);
		top: calc(50vh - 150px);
	}
	#close-sign-up-modal {
		left: calc(50%  + 110px);
		top: calc(50vh - 170px);

	}
	#full-page {
	}
	.landing-section {
		display: inline-block;
		width: 100vw;
		height: auto;
		min-height: 100vh
	}
	#section-1 .get-started {
		bottom: 10vh;
	}
	.section-content {
		width: calc(100% - 10px);
		min-height: calc(100vh - 60px);
		padding-top: 20px;
	}
	.side-dots {
		display: none;
	}
	#section-2 {
		.section-main-text {
			margin-top: 20px;
			font-size: 36px;
		}
		#step-1 {
			margin-top: 20px;
		}
		.step-number{
			margin-top: 40px;
		}
		.step-title{
			margin: 20px 0;
		}
		.step-desc{
			margin-bottom: 10px;
		}
		.step, #step-2, #step-3 {
			width: 100%;
			position: static;
			margin-bottom: 20px;
			margin-top: 40px;
		}
	}
	#section-3 {
		.section-main-text {
			margin-bottom: 40px;
			margin-top: 40px;
		}
		#places {
			text-align: center;
		}
		.place {
			width: 110px;
			height: auto;
			margin: 10px 20px;
		}
	}
	#section-4 {
		.section-main-text {
			margin-top: 25vh;
		}
		.get-started {
			bottom: 0;
		}
	}


}

}
