@import 'shared/variables';

/***************** Landing Main *******************/
#video {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
	display: none;
}

.signed-in-ama {
	margin-top: 44px;
}

#landing-main.signed-in-main {
	height: auto;
	.landing-message {
		position: static;
		margin-top: 60px;
	}
}



#landing-main {
	height: calc(100vh - 80px);
	width: 100vw;
	color: white;
	text-align: center;
	position: relative;
	overflow-x: hidden;
	background: image-url("backgroundhorse.jpg");
	background-size: cover;
}

#landing-content {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.landing-message {
	width: 100%;
}

#past-mentors {
	width: 100vw;
}

#past-mentors-title {

}

.past-mentor {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.past-mentor-pic {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

@media (min-width: 1024px) {
	body {
		#landing-main.signed-in-main .landing-message {
			margin-left: 0px;
		}
		#past-mentors {
			top: 35vh;
		}
		.landing-message{
			top: 15vh;
		}
		.past-mentor {
			width: 24%;
		}
		.past-mentor-pic {
			width: 80px;
			height: 80px;
		}
		#mentors-tomorrow {
			position: absolute;
			bottom: 10px;
			text-align: center;
			width: 100%;
			left: 0;
			cursor: pointer;
		}
	}
}

/***************  Landing AMA **********************/

#landing-ama {
	background: white;
	z-index: 0;
	position: relative;
	height: 100vh;
	margin-top: -5px;
}

.amas-container {
	height: calc(100% - 44px);
	overflow-y: hidden;
}

.ama {
	cursor: pointer;
}

.amas {
	cursor: pointer;
}

#ama-header {
	height: 44px;
	background: $headergrey;
	color: $greydark;
	padding: 0 10px;
}

.ama-header-tab {
	height: 31px;
	padding: 0px 12px;
	margin: 0px 0px;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
	height: 31px;
	margin-top: 6.5px;
	border-radius: 5px;
}

.ama-header-link{
	display: block;
}

.ama-header-tab.active {
	background: $red;
	color: white;
}

@media (min-width: 1024px) {
	body {
		#ama-header {
			height: 40px;
			position: relative;
			padding: 0;
		}
		#ama-header-content {
			width: 960px;
			margin-left: calc(50% - 480px);
		}
		#ama-header-tabs {
			height: 30px;
			margin-top: 5px;
		}
		.ama-header-tab {
			height: 30px;
			line-height: 30px;
			margin-top: 5px;
		}
	}
}

.amas-date {
	color: $red;
	text-align: center;
}

.ama-pic {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}


.info-icon {
	height: 15px;
}

.ama-main-info {
	max-width: calc(100% - 50px);
}

.ama-add-info > * > * {
	margin-right: 10px;
}

.ama-add-info > * > span {
	margin-left: 5px;
}

@media (min-width: 1024px) {
	body {

		.ama {
			position: relative;
			padding: 20px;
			box-sizing: border-box;
		}
		.today-amas {
			text-align: center;
		}
		.today-ama {
			width: 33%;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
		}
		.today-ama.mid {
			border-left: 1px solid $bordergrey;
			border-right: 1px solid $bordergrey;
		}
		.amas-date {
			text-align: center;
		}
		#amas-content {
			width: 960px;
			margin-left: calc(50% - 480px);
		}
		.ama-pic {
			width: 80px;
			height: 80px;
			border: none;
		}
		.ama-main-info{
			width: 90%;
		}
		.ama-mentor-info {
			width: calc(100% - 100px);
		}
		.ama-sub-info.p-full {
			padding-top: 0px;
			padding-bottom: 0px;
			margin-left: 100px;
		}
		.ama-recommendations.p-full {
			margin-left: 100px;
			padding-top: 10px;
			padding-bottom: 10px
		}
		.today-ama-add-info {
			text-align: left;
			width: 120px;
			margin: 0 auto;
			img {
				height: 20px;
			}
		}
		.ama-add-info.p-full {
			margin-left: 100px;
			padding: 0px 20px;
		}
		.like-count {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 16px;
		}
		.like-count .info-icon {
			height: 20px;
			float: right;
			margin-left: 10px;
		}
		.ama:hover {
			background: $redlight;
		}
	}
}
