@import 'shared/variables';

/***************** Landing Main *******************/
#video {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

#landing-main { 
	height: 100vh;
	width: 100vw;
	color: white;
	text-align: center;
}

.landing-message {
	position: absolute;
	width: 100%;
	top: 20vh;
}

#past-mentors {
	width: 90vw;
	left: 5vw;
	position: absolute;
	bottom: 50px;
}

#past-mentors-title {
}

.past-mentor {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.past-mentor-pic {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	border: 2px solid $yellow;
}

@media (min-width: 1024px) {
	body {
		#past-mentors {
			bottom: 10vh;
		}
		.past-mentor {
			width: 24%;
		}
		.past-mentor-pic {
			width: 80px;
			height: 80px;
			border: 2px solid $yellow;
		}
		#mentors-tomorrow {
			position: absolute;
			bottom: 10px;
			text-align: center;
			width: 100%;
			left: 0;
			cursor: pointer;
		}
	}
}

/***************  Landing AMA **********************/

#landing-ama {
	background: white;
}

.ama {
	background: $greylight;
	cursor: pointer;
}

.amas {
	cursor: pointer;
}

#ama-header {
	height: 31px;
	background: $yellow;
	color: $greydark;
}

.ama-header-tab {
	height: 100%;
	width: 62px;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
	height: 31px;
}

.ama-header-tab.active {
	background: white;
}

@media (min-width: 1024px) {
	body {
		#ama-header {
			height: 120px;
			position: relative;
		}
		#ama-header-title {
			display: block;
			color: rgba(0,0,0,.5);
		}
		#ama-header-content {
			width: 960px;
			margin-left: calc(50% - 480px);
		}
		#ama-header-tabs {
			position: absolute;
			bottom: 0;

		}
		.ama-header-tab {
			height: 40px;
			width: 120px;
			line-height: 40px;
		}
	}
}

.amas-date {
	color: $red;
	text-align: center;
}

.ama-pic {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	border: 1px solid $yellow;
}

.ama-mentor-info {
	max-width: calc(100% - 60px);
}

@media (min-width: 1024px) {
	body {
		.amas-date {
			text-align: left;
		}
		#amas-content {
			width: 960px;
			margin-left: calc(50% - 480px);
		}
		.ama-pic {
			width: 100px;
			height: 100px;
		}
		.ama-mentor-info {
			max-width: calc(100% - 160px);
		}
		.ama-add-info {
			text-align: right;
		}
		.ama:hover {
			background: $yellowlight;
		}
	}
}

