@import 'shared/variables';

#user-container {
	padding-top: 44px;
	position: relative;
}


/******* User Main ******/

.user-profile-pic {
	height: 60px;
	width: 60px;
	border-radius: 60px;
}
.user-badge {
	height: 30px;
	margin-left: 10px;
  -webkit-transform: translateY(20%);
}

#user-main {
	background: $greylight;
	flex-wrap: wrap;
}

.user-main-info {
	max-width: calc(100% - 100px);
	display: block;
}

#user-info-body {
	flex-wrap: wrap;
}
#user-sub-info, #user-follow-me {
	display: block;
}

#user-container #user-stats {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.code-input {
	border: 1px solid red;
  width: 100%;
  border-radius: 5px;
}

.form_in_place {
	input, textarea {
		border: 1px solid $greymid;
		border-radius: 5px;
	}
	input {
		height: 30px;
	}
}


.user-links {
	.follow-box {
		height: 40px;
		width: 40px;
		border-radius: 5px;
	}
	.user-link-text {
		height: 40px;
		line-height: 40px;
	}
}

@media (min-width: 1024px) {
	body {
		#user-container {
			padding-top: 60px;
			background: $greylight;
		}
		#user-main{
			padding-left: calc(50% - 480px);
			padding-right: calc(50% - 480px);
			position: relative;
		}
		#upload-photo-text {
			position: absolute;
			bottom: 0px;
			left: calc(50% - 480px);
			text-align: center;
			width: 120px;
			cursor: pointer;
		}
		.form_in_place {
			input {
				height: 40px;
			}
		}
		#user-sub-info {
			padding-left: calc(50% - 480px);
			display: inline-block;
			vertical-align: top;
			width: 620px;
		}
		.user-main-info {
			width: calc(100% - 480px);
			display: block;
		}
		#user-container #user-stats {
			width: 200px;
			margin: 0px 20px;
			position: static;
			.info-icon {
				width: 30px;
				display: inline-block;
			}
		}
		#user-container #user_avatar {
			height: 120px;
			width: 120px;
			border-radius: 120px;
			position: absolute;
			top: 43px;
			left: calc(50% - 470px);
		}
		.code-input {
			width: 200px;
			height: 40px;
		}
		#user-container #preview {
			height: 120px;
			width: 120px;
			border-radius: 120px;
			position: absolute;
			top: 43px;
			left: calc(50% - 470px);
			display: none;
			z-index: 2;
		}
		#user-follow-me {
			display: inline-block;
			vertical-align: top;
			padding-left: 20px;
			width: 320px;
		}
		#user-name {
			font-size: 20px;
		}
		.user-profile-pic {
			height: 120px;
			width: 120px;
			border-radius: 120px;
		}
		#user-stats > * {
			display: block;
			margin-bottom: 10px;
			margin-left: 0px;
			margin-right: 0px;
		}
		#user-container #user-stats {
			text-align: left;
			display: block;
		}
		#user-info-body {
			background: white;
		}
	}
}


/********** User Editing ***********/

.edit-text {
	font-weight: 400;
	cursor: pointer;
}

.user-main-info .form_in_place {
	input {
		width: 240px;
	}
}
